.editar{
    height: 70vh;
    width: 50vw;
    margin-top: 6vh;
    display: block;
    justify-content: center;
}

form{
    margin: 2vh;
    height: 63vh;
    width: auto;
    border-radius: 3vh;
    background-color: rgba(0, 0, 0, 0.521);
}

.form-group{
    margin: 2vh;
    padding-top: 6vh;
    padding-left: 2vw;
}
form label {
    padding: 1vh;
    color:aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 5vh;
    font-weight: 500;
    }

form textarea {
    width: 25vw;
    height: 15vw;
    border-radius: 2vw;
    align-items: start;
    background-color: rgba(41, 0, 16, 0.795);
    color: rgb(255, 225, 245);
    border: solid ;
    margin-bottom: 2vw;
}
.actualizar button {
    float: right;
    color: aliceblue;
    font-weight: 400;
    font-size: 1.7vw;
    margin-right: 3vw; 
    background-color: rgb(85, 2, 41);
    border: solid rgb(226, 204, 212);
    border-radius: 2vh;
    text-align: center;
    
}

.actualizar button:hover{
    transform: scale(0.95);
    transition: 7ms;
}