<div class="sobremi container-fluid">
    
    <div class=" foto animate__animated animate__zoomIn" >
        <img src="../../../assets/imagenes/foto-portfolio.png" alt="foto-portfolio" class="img-fluid">
        </div>
        <div class="descripcion animate__animated animate__zoomIn">
            <button type="button" routerLink="/edit-about/1"><i class="fa fa-pencil" ></i></button>
            <p>
                {{usuario.descripcion}}
            </p>
        </div>
        
    </div>
        
