<div class="sobremi container-fluid">
    
    <div class=" foto animate__animated animate__zoomIn" >
        <img src="../../../assets/imagenes/foto-portfoqlio.png" alt="foto-portfolio" class="img-fluid">
        </div>
        <div class="descripcion animate__animated animate__zoomIn">
            <button><i class="fa fa-pencil"></i></button>
            <p>
                {{usuario.descripcion}} hnghnfgghngnhghn hgd nbksjbna  cajkskabj kan
            </p>
        </div>
            

</div>
