.container {
  background-color: rgba(0, 0, 0, 0.527);
  height: auto;
  width: auto;
  border-radius: 4vh;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 4vh;
  padding-bottom: 3vh;
  display: block;
  justify-content: center;

}


.caja h3 {
  color: rgb(245, 200, 235);
  text-align: center;
  line-height: 0;
  padding-bottom: 2vh;
  padding-top: 0.7em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

hr {
  line-height: 1vh;
  color: white;
}

.caja h6 {
  font-size: larger;
  color: rgb(253, 232, 240);
  text-transform: capitalize;
  justify-content: center;

}

.lista {
  display: flex;
  justify-content: center;
}

.modificar {
  display: flex;
  justify-content: center;
  padding-left: 1em;

}

.modificar a {
  background: none;
  border-radius: 100%;
  border: none;
  font-size: x-small;
  color: white;
  margin: 0.3em;
  padding: 0.1em 0.2em;
  cursor: pointer;
}


.agregar {
  justify-content: right;
  padding-top: 1.2vh;
  padding-bottom: 0.8vh;
  padding-right: 5vh;
}

.agregar button {
  float: right;
  width: auto;
  background-color: rgba(197, 5, 85, 0.89);
  border-radius: 0.4em;
  border: solid rgb(224, 160, 195);
  color: aliceblue;
  margin-left: 1em;
  align-items: center;
  font-size: 1.3em;
  font-weight: 500;
  justify-content: right;
  z-index: 10;
  margin-bottom: 0;
}

.agregar button:hover {
  transform: scale(1.1);
}

.modificar a:hover {
  transform: scale(1.3);
  transition: all;
  color: rgba(201, 37, 105, 0.89);
}


@media (max-width: 760px) {

  .agregar button {
    font-size: small;
  }

  .agregar {
    padding-bottom: 0.1em;
    padding-right: 0;
    padding-top: 0.5em;
  }

  .modificar a {
    font-size: xx-small;
    text-align: center;
    justify-content: center;

  }

  .caja h6 {
    font-size: 1em;
    padding-top: 0.1em;
  }
}