<div class="container " *ngIf="educacion">
    <div class="row animate__animated animate__bounceInRight">
        <div>
            <form (ngSubmit)="actualizar()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="tituloEdu">Title :</label>
                    <input type="text" class="form-control" id="tituloEdu" name="tituloEdu"
                        [(ngModel)]="educacion.tituloEdu" required>
                </div>

                <div class="form-group">
                    <label for="anioEdu">Year :</label>
                    <input type="text" class="form-control" id="anioEdu" name="anioEdu"
                        [(ngModel)]="educacion.anioEdu" required>
                </div>

                <div class="form-group">
                    <label for="lugarEdu">Where :</label>
                    <input type="text" class="form-control" id="lugarEdu" name="lugarEdu"
                        [(ngModel)]="educacion.lugarEdu" required>
                </div>
                <div class="editar">
                    <button type="submit" class="btn"><i class="fa-solid fa-folder-plus"></i> Add</button>
                </div>

            </form>
        </div>
    </div>
</div>



