<div class="container  container-fluid ">
  <div class="agregar">
    <button routerLink="/new-education"><i class="fa fa-plus-square" aria-hidden="true"></i> New</button>
</div>
  <div class="educacion ">
    <div class="card animate__animated animate__zoomIn" *ngFor="let educacion of edu">
          <div class="card-body" >
          <h5 class="titulo">{{educacion.tituloEdu}}</h5>
          <hr>
          <p class="lugar">{{educacion.lugarEdu}}</p>
          <h6 class="anio">{{educacion.anioEdu}}</h6>
      
        </div>
        <div class="modificar">

          <button routerLink="/edit-education/{{educacion.idEdu}}"><i class="fa fa-pencil"></i></button>
          <button (click)="borrarEdu(educacion.idEdu)"><i class="fa fa-trash"></i></button>
        </div>
      </div>
      

  </div>

</div>