.contenedor {
    justify-content: center;
    height: 73vh;

}

.educacion {
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.card {
    width: 18em;
    background-color: rgba(7, 0, 3, 0.507);
    margin: 1rem;
    border-radius: 1rem;


}

@media (max-width: 760px) {
    .educacion {
        display: block;
        justify-content: center;
        padding: 0 2.3em ;
    }

    .card {
        width: auto;
        height: a;
        align-items: center;
        margin-left: 2em;
        display: block;
        padding-bottom: 2.5em;
        margin-bottom: 2.2em;
    }

    .contenedor {
        justify-content: center;
        height: auto;
    }

    h3 {
        font-size: large;
    }

    h4 {
        font-size: large;
    }



}

.titulo {
    color: rgb(255, 193, 219);

    font-weight: 500;
    text-transform: uppercase;
    text-align: center;

}

hr {
    color: rgb(255, 255, 255);
}

.lugar {
    color: rgb(237, 244, 250);
    text-align: start;

    text-align: center;
    text-transform: capitalize;

}

.ojo-anio {
    display: flex;
    padding-top: 1em;
    color: white;
    text-align: center;
    justify-content: center;
}

.ojo-anio h5 {
    align-items: center;
    margin-left: 3em;
    margin-right: 3em;
}

#certificado a {
    font-size: large;
    border-radius: 100%;
    color: white;
    padding: 3px 5px;
    border: 1px solid rgb(255, 255, 255);

}

#certificado:hover {
    color: rgb(245, 232, 208);
    transition: all;
    transform: scale(1turn);
    -moz-transform: rotate(2turn);
    -ms-transform: rotate(2turn);
    -o-transform: rotate(2turn);
    -webkit-transform: rotate(2turn);
 
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    -webkit-transition: all 2s ease;
}





.modificar {

    padding: 0 0.5em 0.5em 0;
}

.modificar button {
    float: right;
    background-color: rgba(216, 5, 93, 0.89);
    border-radius: 100%;
    border: solid rgb(224, 160, 195);
    margin: 0.7vh;
    color: aliceblue;
    font-size: small;

}

.agregar {
    height: 7vh;
    margin-top: 2vh;
}

.agregar button {
    float: right;
    background-color: rgba(197, 5, 85, 0.89);
    border-radius: 12%;
    border: solid rgb(224, 160, 195);
    margin: 0.7vh;
    color: aliceblue;
    margin-left: 5vw;
    align-items: start;
    font-weight: 600;
    font-size: x-large;
}

.agregar button:hover {
    transform: scale(1.1);
}

.modificar button:hover {
    transform: scale(1.1);
}



/* Flashing */
.card #caja:hover {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}

@-webkit-keyframes flash {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 0.9;
    }
}

@keyframes flash {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 0.9;

    }
}