<div class="contenedor  container-fluid ">
  <div class="agregar">
    <button *ngIf="isLogged" routerLink="/new-education"><i class="fa fa-plus-square" aria-hidden="true"></i>
      New</button>
  </div>
  <div class="educacion ">
    <div class="card  animate__animated animate__zoomIn " *ngFor="let educacion of edu">
      <div class="card-body" id="caja">
        <h3 class="titulo">{{educacion.tituloEdu}}</h3>
        <hr>
        <h4 class="lugar">{{educacion.lugarEdu}}</h4>
        <div class="ojo-anio">
          <h5 id="certificado" title="See Certificate " ><a href="{{educacion.urlEdu}}"><i id="medalla" class="fa-solid fa-medal"></i></a></h5>
          <h5 class="anio">{{educacion.anioEdu}}</h5>
        </div>

      </div>
      <div class="modificar">

        <button *ngIf="isLogged" routerLink="/edit-education/{{educacion.idEdu}}"><i class="fa fa-pencil"></i></button>
        <button *ngIf="isLogged" (click)="borrarEdu(educacion.idEdu)"><i class="fa fa-trash"></i></button>
      </div>
    </div>

  </div>


