.educacion {
    display: flex;
    width: 90vw;
    height: 68vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 5vh;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.card {
    width: 23vw;
    height: 50vh;
    background-color: rgba(7, 0, 3, 0.507);
    margin: 1rem;
    border-radius: 1rem;
    
}

.titulo {
    color: rgb(255, 164, 202);
    font-size: 3vw;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
  
}
hr {
    color: rgb(250, 168, 219);
}

.lugar {
    color: rgb(237, 244, 250);
    text-align: start;
    font-size: 2.1vw;
    text-align: center;
    text-transform: capitalize;
   
}

.anio {
    color: white;
    text-align: center;
    font-size: 2vw;
    text-align: end;
}

.card:hover{
    transform: scale(1.1);
    transition: all;
    border: 1vh solid rgb(245, 173, 187);

}