<div class="container animate__animated animate__rotateInDownRight">
    <div class="row">
        <div>
            <form (ngSubmit)="crearEdu()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="tituloEdu">Titulo :</label>
                    <input type="text" class="form-control" id="tituloEdu" name="tituloEdu"
                        [(ngModel)]="tituloEdu" required>
                </div>

                <div class="form-group">
                    <label for="anioEdu">Año :</label>
                    <input type="text" class="form-control" id="anioEdu" name="anioEdu"
                        [(ngModel)]="anioEdu" required>
                </div>

                <div class="form-group">
                    <label for="lugarEdu">Lugar :</label>
                    <input type="text" class="form-control" id="lugarEdu" name="lugarEdu"
                        [(ngModel)]="lugarEdu" required>
                </div>
                <div class="crear">
                    <button class="btn"><i class="fa-solid fa-folder-plus"></i> Add</button>
                </div>

            </form>
        </div>
    </div>
</div>


