<div class="container">

   <div>

      <div class="social">
         <button type="button" href="https://www.facebook.com/jhajayra.moriinfantes/"><i class="fab fa-facebook-f"></i></button >
         <button type="button" href="https://www.instagram.com/jhami_ms/"><i class="fab fa-instagram"></i></button>
         <button type="button" href=" https://wa.me/5493489346104"><i class="fab fa-whatsapp"></i></button>
         <button type="button" href="https://github.com/Jhajayra"><i class="fab fa-github"></i></button>
         <button type="button" href="https://drive.google.com/file/d/1lp4YX8yR24O8P9bAeZBgTXnGJuvLz4Hm/view?usp=sharing"><i class="fa-solid fa-file-pdf"></i> </button>
      </div>

   </div>

</div>


