.social {
  display: flex;
}

.social a{
  margin: 0.2em;
  border-radius: 50%;
  background: #1a000d94;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 0.8vmin solid #160005;
  font: 1.6em sans-serif;
  margin-right: 0.5em;
  padding: 0.1em 0.2em;
  text-align: center;
  color: rgb(255, 247, 250);
}
.social a:hover {
    border: 0.8vmin solid #ebdee1;
    transform: scale(1.2);
    transition: 0.1s;

    color: rgb(255, 255, 255);
  }




  @media (max-width: 576px) {
    .social a {
      margin-right: 2px;
      font-size: larger;
      border: none;
      background: none;
    }
    .social {
      padding-top: 1em;
    }

  }



 