.navbar {
  display: flex;
  align-items: center;
  margin: auto;
  border: 2px;
  padding: 2px;
}

.navbar div:first-child {
  margin-right: 12vh;
  align-items: center;
}

img {
  height: 16vh;
  float: end;
}

.barra-lateral {
  align-items: center;
  margin-bottom: 11vh;
}