.navbar {
  display: flex;
  height: 90px;
  width: auto;
  border: 0px;
  justify-content: right;
  float: right;
}


#logo .logo-container {
  display: flex;
  float: right;
}

img {
  height: 80px;
  justify-content: right;
  align-items: end;
  float: end;
}