<div class="container ">
    <div class="row animate__animated animate__bounceInRight">
        <form (ngSubmit)="crearSkill()" novalidate #f="ngForm">
            
            <div class="form-group">
                <label for="nombreSkill">Skill's Name :</label>
                <input type="text" class="form-control" id="nombreSkill" name="nombreSkill" [(ngModel)]="nombreSkill"
                    required>
            </div>

            <div class="form-group">
                <label for="porcentaje">Percent :</label>
                <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="porcentaje"
                    required>
            </div>


            <div class="crear">
                <button type="submit" class="btn"><i class="fa-solid fa-folder-plus"></i> Add</button>
            </div>

        </form>
    </div>

</div>