
  

<div class="skills container-fluid animate__animated animate__zoomIn ">
  <div>
 
    <app-soft-skills></app-soft-skills>
  </div>

  <div class=" container">
    
    <div class="agregar ">
      <button *ngIf="isLogged" routerLink="/new-skill" id="ag" ><i class="fa fa-plus-square" aria-hidden="true"></i> New</button>
    </div>

    <div class="caja">

      <h3 class="skill-titulo">Skills</h3>
      <hr>
      <div class="circulos">
        <div class="lenguaje animate__animated animate__zoomIn " *ngFor="let skill of skills" >
          <circle-progress  class="circulo "
          [percent]="skill.porcentaje"
          [subtitle]="skill.nombreSkill"            
          ></circle-progress>
          <p class="porcentaje">{{skill.porcentaje}} %</p>
          <div class="modificar">
            <a  *ngIf="isLogged" routerLink="/edit-skill/{{skill.idSkill}}"><i class="fa fa-pencil"></i></a>
            <a *ngIf="isLogged" (click)="borrar(skill.idSkill)"><i class="fa fa-trash"></i></a>
          </div>
    </div>
      </div>
      
    </div>

    
  </div>
  



</div>

<!--MODIIFICAR TAMAÑO DE LOS BOTONES DE EDITAR Y BORRAR PARA QUE SE VEAN MAS CHIQUITOS-->
