.skills {
  display: flex;
  margin-top: 3vh;
  margin-bottom: 2vh;
  height: 69vh;
  width: 94vw;
  justify-content: center;
}

.container-skill {
  background-color: rgba(0, 0, 0, 0.466);
  height: 70vh;
  width: 30vw;
  border-radius: 4vh;
  margin-left: 2vw ;
  margin-right: 2vw;
  text-align: center;
}

.skill-title {
  color: rgb(245, 200, 235);
  margin-top: 2vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
hr {
  line-height: 0vh;
  color: white;
}

img {
  width: 4rem;
  height: 4rem;
  margin: 0.7rem;
  border-radius: 0.3rem;
}

.skill {
  color: white;
  text-transform: capitalize;
  text-align: start;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3.5vh;
}