  <div class="agregar container">
    <button><i class="fa fa-plus-square" aria-hidden="true"></i> New</button>
  </div>



<div class="skills container-fluid animate__animated animate__zoomIn ">

  <div class=" container-skill container">
    <h3 class="skill-titulo">Skills</h3>
    <hr>
    <div class="circulo">
      <div class="lenguaje" *ngFor="let skill of skills" >
        <circle-progress  class="circulo"
        [percent]="skill.porcentaje"
        [title]="skill.nombreSkill"
        [subtitle]="skill.nombreSkill"            
        ></circle-progress>
        <div class="modificar">
          <button><i class="fa fa-pencil"></i></button>
          <button><i class="fa fa-trash"></i></button>
        </div>
      </div>
      
    </div>

  </div>



</div>
