<div class="skills container-fluid animate__animated animate__zoomIn animate__slow">

  <div class="soft-skills container-skill">
    <h3 class="skill-title">Soft Skills</h3>
    <hr>
    <ul *ngFor="let skill of softSkills" >
      <li class="skill">{{skill}}</li>

    </ul>

  </div>

  <div class="front container-skill">
    <h3 class="skill-title">Front End</h3>
    <hr>
      <img src="../../../assets/imagenes/lenguajes/html.png" alt="html">
      <img src="../../../assets/imagenes/lenguajes/css.png" alt="css">
      <img src="../../../assets/imagenes/lenguajes/js.png" alt="javascript">
      <img src="../../../assets/imagenes/lenguajes/ts.png" alt="typescript">
      <img src="../../../assets/imagenes/lenguajes/angular.png" alt="angular">
      <img src="../../../assets/imagenes/lenguajes/bootstrap.png" alt="bootstrap">

  </div>

  <div class="back container-skill">
    <h3 class="skill-title">Back End</h3>
    <hr>
      <img src="../../../assets/imagenes/lenguajes/java.png" alt="java">
      <img src="../../../assets/imagenes/lenguajes/mysql.png" alt="mysql">
      <img src="../../../assets/imagenes/lenguajes/spboot.png" alt="springboot">

  </div>
 

</div>
