.skills {
  padding-top: 4vh;
  height: auto;

  margin-right: 2em;
}

.skill-titulo {
  color: rgb(245, 200, 235);
  text-align: center;
  line-height: 0;
  padding-top: 0.1em;

  padding-bottom: 2vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.caja {
  padding: 1em;
  justify-content: center;
  width: auto;

}

.container {
  background-color: rgba(0, 0, 0, 0.527);
  height: auto;
  width: auto;
  border-radius: 4vh;

  text-align: center;
  text-transform: capitalize;
  margin-bottom: 4vh;
  padding-bottom: 3vh;
  display: block;
  justify-content: center;

}


.lenguaje {
  margin: 0.5vw;

}

.circulos {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 4vh;
}

@media (max-width: 760px) {
  .circulos {
    display: block;
    justify-content: center;
    align-items: center;
  }

  .skills {
    margin-right: 0;
    width: 80%;
    margin-left: 2em;
    height: auto;
  }

  .container {
    justify-content: center;

  }

  .skill-titulo {
    font-size: x-large;
  }

  .lenguaje {
    margin-bottom: 4vh;
  }


  #ag {
    font-size: small;
    margin-bottom: 0.1em;
    margin-right: 0;
    margin-top: 0.5em;
  }

}

.porcentaje {
  color: rgb(253, 232, 240);
  font-size: medium;
  height: 3vh;
  cursor: none;


}

.circulo {
  cursor: grab;
}

.modificar a {
  background-color: rgba(221, 109, 156, 0.63);
  border-radius: 100%;
  border: solid 2px rgb(224, 160, 195);
  font-size: x-small;
  color: aliceblue;
  margin: 0.3em;
  padding: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  cursor: pointer;
}

.lenguaje:hover {
  
  transition: all;

 
  -webkit-animation: flash 1s;
  animation: flash 1.5s;
}

@-webkit-keyframes flash {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.9;
  }
}

@keyframes flash {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.9;

  }
}



.agregar {
  padding-top: 1.2vh;
  padding-bottom: 0.8vh;
  justify-content: right;
  padding-right: 5vh;
}

.agregar button {
  float: right;
  width: auto;
  background-color: rgba(197, 5, 85, 0.89);
  border-radius: 0.4em;
  border: solid rgb(224, 160, 195);
  color: aliceblue;
  margin-left: 1em;
  align-items: start;
  font-size: 1.3em;
  font-weight: 500;
  justify-content: right;
  z-index: 10;
}

.agregar button:hover {
  transform: scale(1.1);
}