.skills {
  display: inline-block;
  margin-top: 3vh;
  margin-bottom: 2vh;
  height: 167vh;
  width: 94vw;
  justify-content: center;
}

.container-soft {
  background-color: rgba(0, 0, 0, 0.466);
  height: 45vh;
  width: 80vw;
  border-radius: 4vh;
  margin-left: 8vw ;
  text-align: center;
  text-transform: capitalize;

}

.skill-titulo {
  color: rgb(245, 200, 235);
  margin-top: 2vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
hr {
  line-height: 0vh;
  color: white;
}

.skillLista {
  color: white;
  text-transform: capitalize;
  text-align: start;
  line-height: 2vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3vh;
  margin-left: 2vw;
}

.container-skill {
  background-color: rgba(0, 0, 0, 0.527);
  height: 43vh;
  width: 80vw;
  border-radius: 4vh;
  margin-left: 8vw ;
  text-align: center;
  text-transform: capitalize;
  
}

.lenguaje {
   margin: 0.5vw;
    
}

.circulo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.container-idioma {
  height: 29vh;
  width: 80vw;
  border-radius: 4vh;
  margin-left: 8vw ;
  text-align: center;
  text-transform: capitalize;
  background-color: rgba(0, 0, 0, 0.466);
  
}

.lista-idioma {
  display: flex;
   
}

.lista-idioma ul {
  margin-right: 4vw;
}
.idioma-titulo {
  text-align: center;
  color: rgb(245, 200, 235);
  margin-top: 2vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

.nombre-idioma {
   color: rgb(255, 167, 211);
  text-transform: capitalize;
  text-align: start;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 4vh;
  text-decoration: underline;
}

.nivel-idioma {
  color: white;
  text-transform: capitalize;
  text-align: start;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3.5vh;
  
}