<div class="container" *ngIf = "expeLabo">
    <div class="row">
        <div>
            <form (ngSubmit)="actualizar()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreExp">Cargo</label>
                    <input type="text" class="form-control" id="nombreExp" name="nombreExp"
                        [(ngModel)]="expeLabo.nombreExp" required>
                </div>

                <div class="form-group">
                    <label for="anioExp">Año</label>
                    <input type="text" class="form-control" id="anioExp" name="anioExp"
                        [(ngModel)]="expeLabo.anioExp" required>
                </div>

                <div class="form-group">
                    <label for="lugarExp">Lugar</label>
                    <input type="text" class="form-control" id="lugarExp" name="lugarExp"
                        [(ngModel)]="expeLabo.lugarExp" required>
                </div>

                <button class="btn">Update</button>

            </form>
        </div>
    </div>
</div>
