<div class="agregar container">
  <button routerLink="/new-experience"><i class="fa fa-plus-square" aria-hidden="true"></i> New</button>
</div>
<div class="contenedor">
 
  <div class="accordion animate__animated animate__zoomIn" id="acordion">

    <div class="accordion box" *ngFor=" let Experiencia of expe">
      
      <h2 class="accordion-header" id="heading">
        <button class="button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#acor-colap" 
        aria-expanded="false" aria-controls="acor-colap">
        * {{Experiencia.cargoExp}}
      </button>
        </h2>
      <div id="acor-colap" class="accordion-collapse collapse" aria-labelledby="heading" 
            data-bs-parent="#acordion">
            <div class="accordion-body">
          <p class="position">{{Experiencia.lugarExp}}</p>
          <br>
          <p class="description">{{Experiencia.anioExp}}</p>    
            </div>
      </div>

      <div class="modificar">

        <button type="button" routerLink="{{'/edit-experience/'+ Experiencia.idExp}}">{{Experiencia.idExp}}</button>
        <button type="button"
         (click)="borrar(Experiencia.idExp)"><i class="fa fa-trash"></i></button>
      </div>
        
     
    </div>

  </div>
  


</div>
