.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72vh;
    margin-top: 2vh;
    margin-left: 20vw;
    color:aliceblue;
}

.accordion h2 button  {
    background-color: rgba(14, 0, 8, 0.479);
    color: rgb(253, 180, 216);
    width: 65vw;
    padding: 1vh;
    border: 0.5vh solid rgb(245, 173, 187);
    border-radius: 1vh;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4vh;
    font-weight: 500;
    text-transform: capitalize;
    text-align: start;
}

.accordion h2 button:hover{
    transition: all;
    border: 1vh solid rgb(245, 173, 187);
}

.accordion-body {
    background-color: rgba(17, 1, 8, 0.651);
    
    width: 63vw;
    margin-left: 1vw;
   
}

.accordion-body p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.6vw;
    line-height: 1.5vh;
}

.position {
    font-weight: 600;
    text-align: start;
    color: rgb(252, 185, 232);
    text-transform: capitalize;
}

.description {
    font-weight: 500;
    text-align: justify;
    color: rgb(235, 215, 221);
    margin-left: 1vw;
}

.anio {
    font-weight: 600;
    color: rgb(250, 211, 229);
    text-align: end;
    margin-right: 2vw;
}

.modificar button {
    float: right;
    background-color: rgba(216, 5, 93, 0.89);
    border-radius: 100%;
    height: 5.5vh;
    border: solid rgb(224, 160, 195);
    margin: 0.7vh;
    color: aliceblue;

}

.agregar button {
    float: right;
    background-color: rgba(197, 5, 85, 0.89);
    border-radius: 12%;
    height: 7vh;
    border: solid rgb(224, 160, 195);
    margin: 0.7vh;
    color: aliceblue;
    margin-left: 5vw;
    align-items: start;
    font-size:3.5vh;
    font-weight: 600 ;
}

.agregar button:hover {
    transform: scale(1.1);
}

.modificar button:hover {
    transform: scale(1.1);
}












