.container {
    align-items: center;
    height: auto;
    width: auto; 
    display: flex;
    justify-content: center;
}

.row {
    padding-top: 3vh;
    margin: 2vh;
    display: block;
    
}
.form-group {
    padding: 0.4em;
}
.form-group input {
    width: 22vw;
    height: 5.1vh;
    margin-left: 1em;
    border-radius: 1.5vh;
    background-color: rgba(39, 1, 22, 0.849);
    color: aliceblue;
    font-weight: 300;
    padding-left: 4%;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form-group  label {
     
    color: rgb(255, 188, 225);
    font-size: 3.8vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    margin-top: 0.3em;
    padding-left: 1vw;
    background-color: rgba(0, 0, 0, 0.247);
    border-radius: 3vh;
}

.fecha-inicio, .fecha-fin{
    display: flex;
}
.fecha-inicio input, .fecha-fin input {
    width: 8em;
    margin-left: 1em;
    margin: 0.3em;
    text-align: center;
}

.fecha-grupo {
    display: block;
    width: 11em;
    align-items: center;
    
}

#mesInicio, #mesFin {
    width: 8em;
    height: 5vh;
    border-radius: 1.5vh;
    background-color: rgba(39, 1, 22, 0.849);
    color: aliceblue;
    font-weight: 300;
    border: solid 1px ;
    margin: 0.3em;

    margin-left: 1em;
    text-align: center;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
}


select [type="month"]::-webkit-scrollbar-corner {
    filter: invert(1);
    padding-right: 0.5em;
  }





.crear {
    display: flex;
    padding-top: 1em;
}
.crear button {
    color: aliceblue;
    font-weight: 500;
    font-size: larger; 
    background-color: rgb(85, 2, 41);
    border: solid rgb(226, 204, 212);
    border-radius: 2vh;
    text-align: center;
    margin-bottom: 2vh;
    margin-left: 2em;
    margin-right: 3em;
    
}

.crear button:hover{
    transform: scale(0.95);
    transition: 7ms;
}


.alert {
    width: 24em;
    align-items: center;
    background: rgba(0, 0, 0, 0.651);
    border-radius: 3vh;
    justify-content: center;
}
.alert h6 {
    
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 2vh;
}

@media (max-width: 760px){
    .container {
        height: auto;
    }
    .crear button{
        font-size: medium;
        margin-bottom: 5vh;
        border: solid 1.7px;
        border-radius: 1vh;
        margin-left: 3em;
        margin-right: 1em;
    }
    .form-group input{
        width: auto;
    }
    .row{
        padding-left: 2em;
    }
    .alert{
        width: 15em;
    }
    .form-group  label {
        font-size: x-large;
    }
    .fecha-inicio label, .fecha-fin label {
        font-size: large;
    }
}