<div class="container ">
    <div class="row animate__animated animate__bounceInRight">
        <div>
            <form (ngSubmit)="crear()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="cargoExp">Position :</label>
                    <input type="text" class="form-control" id="cargoExp" name="cargoExp" [(ngModel)]="cargoExp"
                        required minlength="5" maxlength="50" #cargo="ngModel">
                    <div class="alert" *ngIf=" cargo.invalid && (cargo.dirty || cargo.touched)">
                        <h6 *ngIf="cargo.errors?.['required']">Enter Valid Position.</h6>
                        <h6 *ngIf="cargo.errors?.['minlength']">The position must have at least 5 characters.</h6>
                        <h6 *ngIf="cargo.errors?.['maxlength']">The position must be less than 50 characters.</h6>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lugarExp">Where :</label>
                    <input type="text" class="form-control" id="lugarExp" name="lugarExp" [(ngModel)]="lugarExp"
                        required minlength="5" maxlength="50" #lugar="ngModel">
                    <div class="alert" *ngIf=" lugar.invalid && (lugar.dirty || lugar.touched)">
                        <h6 *ngIf="lugar.errors?.['required']">Enter Valid Place.</h6>
                        <h6 *ngIf="lugar.errors?.['minlength']">The place must have at least 5 characters.</h6>
                        <h6 *ngIf="lugar.errors?.['maxlength']">The place must be less than 50 characters.</h6>
                    </div>

                </div>

                <div class="form-group fecha-inicio">

                    <div class="fecha-grupo">
                        <label for="mesInicio">Start Month :</label>
                        <select type="month"  id="mesInicio" name="mesInicio" [(ngModel)]="mesInicio"
                            required>
                            <option selected>January</option>
                            <option>February</option>
                            <option>March</option>
                            <option>April</option>
                            <option>May</option>
                            <option>June</option>
                            <option>July</option>
                            <option>August</option>
                            <option>September</option>
                            <option>October</option>
                            <option>November</option>
                            <option>December</option>
                        </select>


                    </div>

                    <div class="fecha-grupo">
                        <label for="anioInicio">Start Year :</label>
                        <input type="number" class="form-control" id="anioInicio" name="anioInicio"
                            [(ngModel)]="anioInicio" required 
                            
                            maxlength="4"
                            min="2000"
                            max="2023">
                    </div>
                </div>


                <div class="form-group fecha-fin">

                    <div class="fecha-grupo">
                        <label for="mesFin">End Month :</label>
                        
                        <select type="month"  id="mesFin" name="mesFin" [(ngModel)]="mesFin" required>
                            <option selected>January</option>
                            <option>February</option>
                            <option>March</option>
                            <option>April</option>
                            <option>May</option>
                            <option>June</option>
                            <option>July</option>
                            <option>August</option>
                            <option>September</option>
                            <option>October</option>
                            <option>November</option>
                            <option>December</option>
                          </select>
                    </div>

                    <div class="fecha-grupo">
                        <label for="anioFin">End Year :</label>
                        <input type="number" class="form-control " id="anioFin" name="anioFin" [(ngModel)]="anioFin"
                            required
                            
                            maxlength="4"
                            min="2000"
                            max="2023"
                            >
                    </div>
                </div>



                <div class="crear">
                    <button><i class="fa-solid fa-folder-plus"></i> Add</button>
                    <button type="button" routerLink="/experience"> <i class="fa-solid fa-rectangle-xmark"></i>
                        Cancel</button>

                </div>

            </form>
        </div>
    </div>
</div>

