body {
    background-image: url(assets/imagenes/numeros.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(12, 1, 5);
  display: block;   
}

*::-webkit-scrollbar {
    width: 18px;
  }

  *::-webkit-scrollbar-track {
    background: #7a6972;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #1b011a;
    border-radius: 10px;
    border: 2px solid #000000;
  }