.login {
  height: 65vh;
}
  .dialog {
    width: 50vw;
    text-align: justify;
    justify-content: center;
    opacity: 1.1;
    margin-left: 20vw;
    align-items: center;
    margin-top: 10vh;
  }

.header {
    height: 8vh;
    font-weight: 600;
    text-align: center;
    color: #fff;
    user-select: none;
    background: linear-gradient(-135deg, #41021f, #75013bfa);
}

.header h5 {
  font-size: 3vw;
}
.body{
    padding-left: 1vw;
    background: linear-gradient(-135deg, #f58dbe93, #f7479f80);
  }

form{
    padding: 1vw 1vw 2vw 2vw;
  }

  form .field{
    height: 8vh;
    width: 90%;
    margin-top: 3vh;
    position: relative;
  }
   form .field input{
    height: 5.5vh;
    width: 40vw;
    outline: none;
    font-size: 3vh;
    border: 1px solid rgb(182, 3, 125);
    border-radius: 5vh;
    transition: all 0.3s ease;
    
  }
  form .field input:focus,
  form .field input:valid{
    border-color: #14010a;
      }


  form .field input[type="submit"]{
    color: #fff;
    border: none;
    padding-left: 0;
    margin-top: -1vw;
    font-size: 2.5vh;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(-135deg, #c850c0, #3d0122);
    transition: all 0.3s ease;
  }
  form .field input[type="submit"]:active{
    transform: scale(0.95);
  }

.header button  {
  color: white;
}

  