.log {
    height: 75vh;
    display: flex;
    justify-content: center;
}

.dialogo {

    width: 20em;
    text-align: justify;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.head {
    height: 8vh;
    font-weight: 600;
    text-align: center;
    color: #fff;
    user-select: none;
    background: linear-gradient(-135deg, #41021f, #75013bfa);
}

.head h5 {
    font-size: 2em;
}

.body {

    background: linear-gradient(-135deg, #f58dbe93, #f7479f80);
}

form {
    padding: 1vw 1vw 2vw 2vw;
}

form .fila {
    height: 8vh;
    justify-content: center;
    margin-top: 3vh;
    position: relative;
}

form .fila input {
    height: 5.5vh;
    text-align: center;
    outline: none;
    font-size: 3vh;
    border: 1px solid rgb(182, 3, 125);
    border-radius: 5vh;
    transition: all 0.3s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form .fila input:focus,
form .fila input:valid{
  border-color: #14010a;
    }

.botones {
    display: flex;
    padding-top: 1em;
    justify-content: center;
}
form .botones button[type="button"]{
    color: #fff;
    border: solid rgb(46, 0, 11);
    float: right;
    border-radius: 2vh;
    text-align: center;
    margin: 0 2em 0 1.5em;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(-135deg, #2e002b, #88014b);
    transition: all 0.3s ease;
}

  @media (max-width: 576px) {
    .dialogo {
      padding: 4em;
    }

    form .botones button[type="button"]{
        margin: 0 0.7em 0 0.7em;
        font-size: 0.8em;
        
    }
  
  }