<div class="container" *ngIf="proye">
    <div class="row animate__animated animate__bounceInRight">
        <div>
            <form (ngSubmit)="actualizar()" novalidate #f="ngForm">

                <div class="form-group">
                    <label for="nombreProye"> Project's Name : </label>
                    <input type="text" class="form-control" id="nombreProye" name="nombreProye"
                        [(ngModel)]="proye.nombreProye" required>
                </div>

                <div class="form-group">
                    <label for="descriProye"> Description : </label>
                    <input type="text" class="form-control" id="descriProye" name="descriProye"
                     [(ngModel)]="proye.descriProye"
                        required>
                </div>

                <div class="form-group">
                    <label for="anioProye"> Year : </label>
                    <input type="text" class="form-control" id="anioProye" name="anioProye"
                        [(ngModel)]="proye.anioProye" required>
                </div>

                <div class="actualizar">
                    <button type="submit" class="btn"><i class="fa-solid fa-pen-to-square"></i> Update</button>
                </div>

            </form>
        </div>
    </div>
</div>
