<div class="container" *ngIf="proye">
    <div class="row animate__animated animate__bounceInRight">
        <div>
            <form (ngSubmit)="actualizar()" novalidate #f="ngForm">

                <div class="form-group">
                    <label for="nombreProye"> Project's Name : </label>
                    <input type="text" class="form-control" id="nombreProye" name="nombreProye"
                        [(ngModel)]="proye.nombreProye" required
                        minlength="5"
                        maxlength="50"
                        #proyecto = "ngModel" >
                       <div class="alert" *ngIf=" proyecto.invalid && (proyecto.dirty || proyecto.touched)">
                            <h6 *ngIf="proyecto.errors?.['required']">Enter Valid Project.</h6>
                            <h6 *ngIf="proyecto.errors?.['minlength']">The project must have at least 5 characters.</h6>
                            <h6 *ngIf="proyecto.errors?.['maxlength']">The project must be less than 50 characters.</h6>
                        </div>
                </div>

                <div class="form-group">
                    <label for="descriProye"> Description : </label>
                    <textarea type="text" class="form-control" id="descriProye" name="descriProye"
                     [(ngModel)]="proye.descriProye"
                        required
                        placeholder="The description must be between 10 and 500 characters."
                        minlength="10"
                        maxlength="500" >
                    </textarea>
                </div>

                <div class="form-group">
                    <label for="anioProye"> Year : </label>
                    <input type="number" class="form-control" id="anioProye" name="anioProye"
                        [(ngModel)]="proye.anioProye" required
                        maxlength="4"
                            min="2000"
                            max="2023">
                </div>

                <div class="actualizar">
                    <button ><i class="fa-solid fa-pen-to-square"></i> Update</button>
                    <button type="button" routerLink="/projects"> <i class="fa-solid fa-rectangle-xmark"></i> Cancel</button>
                </div>

            </form>
        </div>
    </div>
</div>
