.proyectos {
    display: flex;
    justify-content: center;
    height: auto;
   
    
}
li {
    background-color: rgba(0, 0, 0, 0.438);
    border-radius: 3vh;
    color: rgb(248, 148, 203);
    width: auto;
}


.proyectos ul li h3 {
    margin-top: 1vh;
    font-size: 2.5vw;
    display: block;
    justify-content: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    text-decoration: underline;
    
    text-transform: capitalize;
}

li p {
    
    font-size: 2vw;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: start;
    color: beige;
}

li h5 {
   
    color: rgb(250, 181, 221);
    text-align: center;
    font-size: 2vw;
}
.modificar {
    padding-right:1vw ;
}

.modificar button {
    float: right;
    background-color: rgba(184, 4, 79, 0.89);
    border-radius: 100%;
    height: 5.5vh;
    border: solid rgb(224, 160, 195);
    margin: 0.7vh;
    color: aliceblue;
    margin-top: 5vh;
    
}

.proyecto {
    display: flex;
}

.box {
    width: 50vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 0.8vw;
    padding-bottom: 0.7vw;
}

.agregar {
    height: 7vh;
    margin-top: 2vh;
}
.agregar button {
    float: right;
    background-color: rgba(197, 5, 85, 0.89);
    border-radius: 12%;
    height: 7vh;
    border: solid rgb(224, 160, 195);
    margin: 0.7vh;
    color: aliceblue;
    margin-left: 4vw;
    align-items: start;
    font-size:3.5vh;
    font-weight: 600 ;
}

.agregar button:hover {
    transform: scale(1.1);
}

.modificar button:hover {
    transform: scale(1.1);
}
