.editar{
    
    width: 50vw;
    padding-top: 2vh;
    display: block;
    justify-content: center;
}

form{
   
    margin: 2vh;
    
    width: 40vw;
    border-radius: 3vh;
    background-color: rgba(0, 0, 0, 0.589);
}
.form-group{
    margin: 1vh;
  
}

form label {
    color:aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4vh;
    font-weight: 500;
    margin-left: 1vw;
}

form input {
    margin-left: 2vw;
    margin-right: 1vw;
    width: 35vw;
    border-radius: 2vw;
    align-items: start;
    background-color: rgba(41, 0, 16, 0.795);
    color: rgb(255, 225, 245);
    border: solid ;
    margin-bottom: 1vw;
}

form textarea {
    margin-left: 2vw;
    width: 35vw;
    height: 7vw;
    border-radius: 2vw;
    align-items: start;
    background-color: rgba(41, 0, 16, 0.795);
    color: rgb(255, 225, 245);
    border: solid ;
    margin-bottom: 1vw;
}
.actualizar button {
    color: aliceblue;
    font-weight: 400;
    font-size: 1.8vw; 
    background-color: rgb(85, 2, 41);
    border: solid rgb(226, 204, 212);
    border-radius: 2vh;
    text-align: center;
    margin-bottom: 2vh;
    margin-left: 27vw;
    
}

.actualizar button:hover{
    transform: scale(0.95);
    transition: 7ms;
}