<div class="inicio container-fluid">
 
    <div class="foto animate__animated animate__zoomIn animate__slow" >    
        <img src="../../../assets/imagenes/foto1.jpg" alt="foto de perfil" height="390" width="220" >              
    </div>
    <div class="presentacion animate__animated animate__zoomIn animate__slow">
        <div class="saludo">
            <h2>HELLO!!</h2>
            <h3>My Name is </h3>
        </div>
      
        <div class="nombre">
            <h1> {{usuario.nombreCompleto}}</h1>
            <button><i class="fa fa-pencil"></i></button>
        </div>
        <div class="titulo">
            <h2>I'm {{usuario.titulo}}</h2>
            <button><i class="fa fa-pencil"></i></button>
        </div>
    </div>



</div>