.inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 6px;
    margin: 6px;
    cursor: default; 
    height: 70vh;
}

.inicio div:first-child {
    margin-right: 2vw;
    
}

.presentacion {
    margin-top: 10vh;
    margin-left: 2vw;
    margin-right: 8vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 63vw;
}

.saludo h2 {
    font-size: 7vmin;
    font-style: bold;
    color: whitesmoke; 
}

.saludo h3 {
    font-size: 6vmin;
    color: whitesmoke;
}

.nombre {
    display: flex;
    color: whitesmoke;
    margin-top: 2vh;
}
.nombre h1 {
    background-color: rgba(255, 0, 98, 0.979);
    text-align: center;
    text-transform: uppercase;
    margin-right:1vw ;
    font-size: 9vh;
    
}
.fa-pencil {
    color: rgb(250, 215, 238);
}
.nombre button {
    float: right;
    background-color: rgba(216, 5, 93, 0.89);
    border-radius: 100%;
    height: 6vh;
    border: solid rgb(224, 160, 195);
}

.titulo {
    display: flex;
    
}

.titulo h2 {
    font-size: 6vh;
    color: rgb(58, 0, 39);
    text-align: center;
    font-style: italic;
    text-decoration-line: underline;
    background-color: rgba(160, 156, 158, 0.404);
    text-transform: capitalize;
    margin-right:1vw ;

}

.titulo button {
    float: right;
    background-color: rgba(216, 5, 93, 0.89);
    border-radius: 100%;
    height: 6vh;
    border: solid rgb(224, 160, 195);

}

.foto {
    width: 85%;
    max-width: 220px;
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 3vh;
    
}

.foto img {
    width: 85%;
    height: auto;
    border-radius: 10%;
    cursor: none;
    box-shadow: -1vh 0vh 2vh 3vh rgba(10, 0, 3, 0.753);
   
  }

