<div class="inicio container-fluid">
 
    <div class="foto animate__animated animate__zoomIn animate__slow" >    
        <img src="../../../assets/imagenes/foto1.jpg" alt="foto de perfil" height="390" width="220" >              
    </div>
    <div class="presentacion animate__animated animate__zoomIn animate__slow">
        <div class="saludo">
            <h2>HELLO!!</h2>
            <h3>My Name is </h3>
        </div>
      
        <div class="nombre">
            <h1> {{usuario.nombreCompleto}}</h1>
            <button  routerLink="/edit-home/{{usuario.idPer}}"><i class="fa fa-pencil"></i></button>
        </div>
        <div class="titulo">
            <h2>I'm {{usuario.titulo}}</h2>
            <button routerLink="/edit-home/{{usuario.idPer}}"><i class="fa fa-pencil"></i></button>
        </div>


        <p>
            <button class="about" type="button" data-bs-toggle="collapse" data-bs-target="#about" aria-expanded="false" aria-controls="about">
              About Me :
            </button>
            <button routerLink="/edit-home/{{usuario.idPer}}"><i class="fa fa-pencil"></i></button>
          </p>
          <div style="min-height: 120px;" class="sobre-mi">
            <div class="collapse collapse-horizontal" id="about">
              <p class="card card-body" style="width: 300px;">
                {{usuario.descripcion}}
              </p>
            </div>
        </div>
        

            

      

    </div>



</div>