.inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 6px;
    margin: 6px;
    cursor: default; 
    height: 70vh;
}

.inicio div:first-child {
    margin-right: 2vw;
    
}

.presentacion {
    width: 63vw;
    margin-top: 10vh;
    margin-left: 0vw;
    margin-right: 8vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.saludo h2 {
    font-size: 7vmin;
    font-style: bold;
    color: whitesmoke; 
}

.saludo h3 {
    font-size: 6vmin;
    color: whitesmoke;
}

.nombre h1 {
    font-size: 9vmin;
    color: whitesmoke;
    background-color: rgba(255, 0, 98, 0.979);
    margin-top: 2vh;
    text-align: center;
    text-transform: uppercase;
}

.titulo h2 {
    font-size: 5vh;
    color: rgb(58, 0, 39);
    text-align: center;
    font-style: italic;
    text-decoration-line: underline;
    background-color: rgba(160, 156, 158, 0.404);
    text-transform: capitalize;
  
    
}

.foto {
    width: 85%;
    max-width: 220px;
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 3vh;
    
}

.foto img {
    width: 85%;
    height: auto;
    border-radius: 10%;
    cursor: none;
    box-shadow: -1vh 0vh 2vh 3vh rgba(10, 0, 3, 0.753);
   
  }

