.navbar {
    background-image: linear-gradient( 109.6deg,  rgba(6,2,2,1) 32.4%, rgb(226, 4, 115) 98.8% );    padding: 0px;
    display: flex;
    border: 1vh black;
    opacity: 0.9;   
 
}

button {
  background: #df296f;
  border: 3px solid rgb(80, 2, 34);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: right;
  transition: all 0.3s ease;
}


a {
    font-size: 2vmax;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    align-items: center;
    line-height: 1vh;
    margin-left: 4vw;
    margin-right: 2vh;
    text-align: right;  
}
@media (max-width: 760px){

    a {
        font-size: large;
        line-height: 1.5vh;
        margin-right: 3vh;
        text-align: center;
    }


}
a:hover {
    color:rgb(247, 152, 199);
    transform: scale(1.1);
    font-style: italic;
    font-weight: 600;
    text-decoration-line: underline;

    
}


 #logo {
        height: 12vh;  
    
    }


.login {
    display: block;
    justify-content: left;
    align-items: flex-end;
    margin-left: 3vmin;

}

.redes {
    display: flex;
    float: right;
}
body {
    height: 100%;
}

#login-btn {
    display: flex;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background: #0e000557;
    border-radius: 1.5vh;
    border: 1vh solid #000000;
    transition: all 0.3s ease;
    text-align: right;
    font-size: x-large;
}

#login-btn:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    transition: 0.6s;

  }

  .logout {
    display: block;
    justify-content: left;
    align-items: flex-end;
    margin-left: 3vmin;
  }
  .logout button {
    display: flex;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background: #0e000557;
    border-radius: 1.5vh;
    border: 1vh solid #000000;
    transition: all 0.3s ease;
    text-align: right;
    font-size: x-large;
  }
  .logout button:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    transition: 0.6s;
  }
 
  @media (max-width: 576px){
    #login-btn {
      font-size: medium;
      font-weight: 400;
    }
    
    .login {
        padding: 2vh;

    }
    
    .logout button {
        font-size: medium;
        font-weight: 400;
    }
  }
  .login-box{
    display: flex;
  }
